*{
    color: #F0DECB;
}
#header-nav{
    background-color: #504658
}
.navbar-brand > a:focus, .navbar-brand > a:hover, .navbar-brand > a:active, .navbar-brand >a{
    text-decoration: none;
    color: #F0DECB
}
.navbar-brand h1{
    margin: 0;
    font-weight: bold;
    font-size: 1.7em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #FFB5B5;
    line-height:.75;
}
#nav-list{
    text-align: center;
    font-size: .9em;
    margin: 0;
}
#collapsable-contents{
    clear: both;        
}
.container-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

h2 {
   color: #FFB5B5;
    font-weight: bolder;
}

#section-tile {
    background-color: #CE2E6C;
    border-radius: 12px;
}
.row{
    padding-right: 12px;
    padding-left: 12px;
}

#main-content h3{
    font-weight: bold;
    font-size: 1.3em;
    margin: 10px auto 15px auto;
}